.carousel-collection-inner {
    width: 100%;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.9rem;
}

.carousel-collection {
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    /* .carousel-collection-inner {
        grid-template-columns: 1fr 1fr;
    } */
}

@media only screen and (max-width: 500px) {
    /* .carousel-collection-inner {
        grid-template-columns: 1fr;
    } */
}