.carousel-collection-inner {
    width: 100%;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 0.4rem;
    max-width: 1400px;
}

.carousel-collection {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .carousel-collection-inner {
        gap: 0.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .carousel-collection-inner {
        gap: 0.9rem;
    }
}